<html>
<head>
	<title>AI powered nutrition analyzer for fitness enthusiast</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body >
<div class="top-menus">
	<h1>Nutrition Classification</h1>
	<a href="home.html"><p>Home</p></a>
	<a href="#"><p>About </p></a>
	<a href="classify.html"><p>Predict</p></a>
</div><br>
<h1>About</h1>
<div id="about" class="container">
	<div class="content">
		<img src="static/images/img.png" alt="bg-img">
	</div>
	<div class="content">
		<p align="center" > Welcome to "AI powered nutrition analyzer for fitness enthusiast". This application is used to classify the fruit depending on the different characteristics like colour, shape, texture etc. Here the user can capture the images of different fruits and then the image will be sent the trained model. The model analyses the image and detect the nutrition based on the fruits like (Sugar, Fibre, Protein, Calories, etc.) In this application you will be able to get the
			nutrition values of the fruits(Apple, Banana, Pineapple, Orange, Watermelon). To get the nutrition content, you will have
			to upload the image(upload image in Predict page) of fruit for which the nutrition value has to be found and click the predict button and wait until
			the image is processed. When the processing is done, the nutritional values of the images are displayed. Now you can able to know the nutritions and consume according to your diet.
		</p>
	</div>
</div>
</body>
</html>